<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="backlog.css">
    <link rel="stylesheet" href="/navbar.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <div class="Navbar">
        <ul class="links">
            <li><a href="/board">Board</a></li>
            <li><a href="/gantt">GANTT</a></li>
            <li><a href="/backlog">Backlog</a></li>
            <li><a href="/logbook">Logbook</a></li>
        </ul>
    </div>
  </header>
<div id="backlog"></div>
<body>
    <script src="backlog.js"></script>
</body>
</html>

