<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/board.css">
  <link rel="stylesheet" href="/navbar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
  <title>Project Management P2</title>
</head>
<body>
  <header>
    <div class="Navbar">
        <ul class="links">
            <li><a href="/board">Board</a></li>
            <li><a href="/gantt">GANTT</a></li>
            <li><a href="/backlog">Backlog</a></li>
            <li><a href="/logbook">Logbook</a></li>
        </ul>
    </div>
  </header>
  <div id="Container">
    <div id="lists">

    </div>
    <div id="form">
      <input type="button" name="ExpandForm" id="expandFormButton" value="Create Task">
      <form id="taskForm">
        <label for="taskName">Task Name:</label>
        <input required type="text" id="taskName" name="taskName"><br>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description"><br>

        <label for="assignee">Assignee:</label>

        <label for="priority">Priority:</label>
        <select id="priority" name="priority">
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select><br>

        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" max="" value="" required><br>

        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" min="" value="" required ><br>

        <script>
          const startDateInput = document.getElementById('startDate');
          const endDateInput = document.getElementById('endDate');
          
          startDateInput.addEventListener('input', () => {
            endDateInput.min = startDateInput.value;
            if(endDateInput.value == "")
            endDateInput.value = startDateInput.value;
          });
          endDateInput.addEventListener('input', () => {
            startDateInput.max = endDateInput.value;
            if(startDateInput.value == "")
            startDateInput.value = endDateInput.value;
          });
        </script>

        <label for="status">Status:</label>
        <select id="status" name="status">
          <option value="To-do">To-Do</option>
          <option value="Doing">Doing</option>
          <option value="Done">Done</option>
        </select><br>
   <input type="submit" value="Add Task">
      </form>
      <div id="Assignees">
        <label id="assigneLabel" for="">Add Assignee</label>
        <input type="text" name="" id="assigneeForm">
        <input type="button" id="assigneeButton" value="+">
      </div>
    </div>
  </div>
  
  <dialog id="editTaskModal">
    <form id="editTaskForm">
      <h1>Edit Task</h1>
      <label for="editTaskName">Task Name:</label>
      <input required type="text" id="editTaskName" name="taskName"><br>
  
      <label for="editDescription">Description:</label>
      <input type="text" id="editDescription" name="description"><br>
  
      <label for="editAssignee">Assignee:</label>
      <br>
  
      <label for="editPriority">Priority:</label>
      <select id="editPriority" name="priority">
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
      </select><br>
  
      <label for="editStartDate">Start Date:</label>
      <input type="date" id="editStartDate" name="startDate" value="" max="" ><br>
  
      <label for="editEndDate">End Date:</label>
      <input type="date" id="editEndDate" name="endDate" value="" min=""><br>
  
      <script>
        const startDateInput2 = document.getElementById('editStartDate');
        const endDateInput2 = document.getElementById('editEndDate');
        
        startDateInput2.addEventListener('input', () => {
          endDateInput2.min = startDateInput2.value;
        });
        endDateInput2.addEventListener('input', () => {
          startDateInput2.max = endDateInput2.value;
        });
      </script>

      <label for="editStatus">Status:</label>
      <select id="editStatus" name="status">
        <option value="To-do">To-Do</option>
        <option value="Doing">Doing</option>
        <option value="Done">Done</option>
      </select>
      <button type="submit" id="saveEditButton">Save Changes</button>
    </form>
  </dialog>  
  <script src="/board.js"></script>
  <script src="/assignee.js"></script>
</body>
</html>