<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/board.css">
  <link rel="stylesheet" href="/navbar.css">
  <title>Project Management P2</title>
</head>
<body>
  <header>
    <div class="Navbar">
        <div class="logo"> <a href="#">Penis Management</a></div>
        <ul class="links">
            <li><a href="/board">Board</a></li>
            <li><a href="/gantt">GANTT</a></li>
            <li><a href="/backlog">Backlog</a></li>
            <li><a href="/logbook">Logbook</a></li>
        </ul>
        <a href="#" class="action_btn">Get Started</a>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    <div class="dropdown_menu">
        <li><a href="/board">Board</a></li>
        <li><a href="/gantt">GANTT</a></li>
        <li><a href="/backlog">Backlog</a></li>
        <li><a href="#" class="action_btn">Get Started</a></li>
    </div>
</header>
    <script>
        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnIcon = document.querySelector('.toggle_btn i')
        const dropdown_menu = document.querySelector('.dropdown_menu')

        toggleBtn.onclick = function() {
            dropdown_menu.classList.toggle('open')
            const isOpen = DropdownMenu.classList.contains('open')
            
            toggleBtnIcon.classList = isOpen
            ? 'fa-solid fa-xmark'
            : 'fa-solid fa-bars'
        }
    </script>
  <div id="Container">
    <div id="Assignees">
      <label id="assigneLabel" for="">Add Assignee</label>
      <input type="text" name="" id="assigneeForm">
      <input type="button" id="assigneeButton" value="+">
    </div>
    <div id="form">
      <form id="taskForm">
        <label for="taskName">Task Name:</label>
        <input required type="text" id="taskName" name="taskName"><br>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description"><br>

        <label for="assignee">Assignee:</label>

        <label for="priority">Priority:</label>
        <select id="priority" name="priority">
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select><br>

        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" required><br>

        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" required><br>

        <label for="status">Status:</label>
        <select id="status" name="status">
          <option value="To-do">To-Do</option>
          <option value="Doing">In Progress</option>
          <option value="Overdue">Over Due</option>
          <option value="Done">Done</option>
        </select><br>
        <input type="submit" value="Add Task">
      </form>
    </div>
    <div id="lists">

    </div>
  </div>
  
  <dialog id="editTaskModal">
    <form id="editTaskForm">
      <h1>Task Details</h1>
      <label for="editTaskName">Task Name:</label>
      <input required type="text" id="editTaskName" name="taskName"><br>

      <label for="editDescription">Description:</label>
      <input type="text" id="editDescription" name="description"><br>

      <label for="editAssignee">Assignee:</label>
      <input type="text" id="editAssignee" name="assignee"><br>

      <label for="editPriority">Priority:</label>
      <select id="editPriority" name="priority">
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
      </select><br>

      <label for="editStartDate">Start Date:</label>
      <input type="date" id="editStartDate" name="startDate"><br>

      <label for="editEndDate">End Date:</label>
      <input type="date" id="editEndDate" name="endDate"><br>

      <label for="editStatus">Status:</label>
      <select id="editStatus" name="status">
        <option value="To do">To Do</option>
        <option value="Doing">In Progress</option>
        <option value="Done">Done</option>
      </select>
      <button type="submit" id="saveEditButton">Save Changes</button>
    </form>
  </dialog>
  <script src="/board.js"></script>
  <script src="/assignee.js"></script>
</body>
</html>
