#form {
  margin: 0 auto;
  max-width: fit-content;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  color: white;
}

form {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 10px;
  display: none;
}
.show {
  display: grid; 
}

label {
  margin-right: 0px;
  font-weight: bold;
  grid-column: 1; /* Set the label to first column */
  grid-row: auto; /* Set the label to auto row height */
}

input[type="text"],
input[type="date"],
select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 10px;
  grid-column: 2; /* Set the form value to second column */
  grid-row: auto; /* Set the form value to auto row height */
  width: 100%; /* Make the form value take up 100% width of the column */
}


input[type="button"],
input[type="submit"]{
  margin-bottom: 10px;
  background-color: rgba(75, 133, 225, 1);
  color: #fff;
  padding: 8px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%; /* Make the submit button take up 100% width of the column */
}

input[type="submit"]:hover {
opacity: 80%;
}

.draggable{
  cursor: move;
}
#assigneeButton {
  margin-top: 10px;
  background-color: rgba(49, 201, 69, 0.8);
  color: #fff;
  padding: 8px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%; /* Make the button take up 100% width of the parent div */
}

#assigneeButton:hover {
  opacity: 80%;
}

#assigneLabel {
  display: block;
  width: 100%; /* Make the label take up 100% width of the parent div */
  text-align: left;
  padding: 5px;
  font-size: 1rem; /* Adjust font size as needed */
  font-weight: bold;
  color: white; /* Text color */
}

label {
  display: block;
  width: 150px;
  text-align: left;
  padding: 5px 5px;
  font-size: large;
}
input, select {
  display: block;
  width: 250px;
}

#lists {
  flex-direction: column;
  color: white;
  margin-top: 3rem;
}

#ListsContainer {
  display: flex;
  flex-wrap: wrap;
}

#TaskList {
  flex: 1;
  margin: 0 10px;
  max-height: 80vh; 
  overflow-y: auto;

}
#lists ol {
  list-style-type: none;
  border: 1px solid black;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}
#lists li {
  border-radius: 10px;
  list-style-type: none;
  border: 1px solid black;
  padding: 15px 10px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: normal;
}
#lists li:hover {
  opacity: 80%;
}
#lists li:first-child{
  margin-top: 1rem;
}
li button {
  margin-left: 10px;
}

.To-do > li{
  background-color: rgba(75, 133, 225, 0.6);
}
.Doing > li{
  background-color: rgba(246, 174, 7, 0.6);
}
.Overdue > li{
  background-color: rgba(215, 45, 45, 0.8);
}

.Done > li{
  background-color: rgba(11, 230, 41, 0.6);
}
