#Container {
  margin-top: 5em;
}
#form {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.15);
  float: left;
  width: 300px;
  color: white;
  padding: 1rem;
  border-radius: 20px;
}

#lists {
  overflow: hidden;
  flex-direction: column;
  color: white;
}

#ListsContainer {
  display: flex;
  flex-wrap: wrap;
}

#TaskList {
  flex: 1;
  margin: 0 10px;
}
#lists ol {
  list-style-type: none;
  border: 1px solid black;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 1rem;
  border-radius: 20px;
}
#lists li {
  border-radius: 10px;
  list-style-type: none;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.20);
  font-weight: normal;
}
#lists li:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
li button {
  margin-left: 10px;
}

#taskForm {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

label {
  display: block;
  width: 150px;
  text-align: left;
  padding: 5px 5px;
  font-size: large;
}
input, select {
  display: block;
  width: 250px;
}
