* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
h1 {
    text-align: center;
    color: white;
    margin: 1rem;
}
input[id="newLogbookBtn"]{
    background-color: rgba(54, 162, 235, 1);
    border: unset;
    padding: 5px;
    border-radius: 7.5px;
}
input[value="Delete Logbook"]{
    background-color: rgba(215, 45, 45, 1);
}
.logbookContainer{
    margin-bottom: 10vh;
    width: fit-content;
    max-width: 40%;
    max-height: 90%;
    padding: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.97);
}