* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
input[type="button"] {
    background-color: #458ca0;
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5rem 0.5rem;
    cursor:pointer;
}
h1 {
    text-align: center;
    color: white;
    margin: 1rem;
}

input[value="Delete Logbook"] {
    background-color: red;
}
.logbookContainer{
    margin: 5rem 10rem;
}
.all {
    display: flex;
    flex-direction: row; /* Set flex direction to column */
    align-items: center; /* Center items horizontally */
}
#LogbookEntryHAndP > div:nth-child(even){
    background: rgba(234, 232, 232, 0.97);
}
.Container {
    margin-bottom: 10vh;
    width: fit-content;
    max-width: 40%;
    max-height: 90%;
    padding: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.97);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Added property */
}
#LogbookEntryHAndP {
    display: flex;
    flex-direction: column; /* Set flex direction to row */
    background: rgba(234, 232, 232, 0.97);
  }
#LogbookEntryHAndP div {
    display: flex;
    flex-direction: row; /* Set flex direction to row */
    padding: 1rem;
  }
#hidden {
    display: none;
}

#show {
    display: flex;
}

#logbookForm label,
input {
    display: inline-block;
}
#logbookList div{
    padding: 0.5rem;
    border: 4px solid rgba(224, 224, 224,0.5); 
    border-radius: 10px;
    cursor: pointer;
}
.hAndpDiv h3 {
    margin-bottom: 0.5rem; /* Add margin at the bottom of h3 */
  }
  
.hAndpDiv p {
margin: 0rem 2rem;
}

h2 {
    padding: 0.5rem;
    text-align: center;
  }
  
#temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#temp > div {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem;
    border: 1px solid grey;
    border-radius: 5px;
    border-bottom: none;
}

#temp > div:first-child {
    /* Remove border radius on first child */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0;
    border: 1px solid salmon
}

#temp > div:last-child {
    /* Remove top border radius on last child */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#temp > div > input[type="checkbox"],
#temp > div > h2 {
    flex-basis: auto;
}
#temp > div > p {
    flex-basis: 100%;
    margin-left: 0.77rem;
}
#temp div textarea{
    border-style: none; 
    border-color: Transparent; 
    overflow: auto;  
}